---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Products from '../components/Products.astro';
import InfoNewProduct from '../components/InfoNewProduct.astro';
import Footer from '../components/Footer.astro';
import NewProducts from '../components/NewProducts.astro';
---

<Layout title="Clone Apple">
	<main>
		<Banner/>
		<Products/>
		<InfoNewProduct/>
		<NewProducts/>
	</main>	
</Layout>

