<div
    class="shadow-md shadow-slate-100 h-16 flex justify-between items-center px-6"
>
    <div class="text-sm text-gray-400">
        <span class="text-blue-600 font-semibold">Wireless EarBuds</span> with Lightning
        Charging Case Spatial Audio
    </div>
    <div class="flex space-x-2">
        <div class="bg-slate-100 p-1 rounded">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 19.5 8.25 12l7.5-7.5"></path>
            </svg>
        </div>
        <div class="bg-slate-100 p-1 rounded">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
            </svg>
        </div>

    </div>
</div>
