---
import BannerNavigation from "./BannerNavigation.astro"
---

<div class="bg-white p-5 rounded-xl shadow-md shadow-slate-200 mt-6 max-w-6xl container mx-auto">
    <div class="grid grid-cols-2 mt-10">
        <div
            class="h-64 w-64 bg-[url(https://as-images.apple.com/is/MME73_AV2?wid=1000&hei=1000&fmt=jpeg&qlt=95&.v=1632861338000)] bg-cover bg-center mx-auto"
        >
        </div>
        <div>
            <span class="font-semibold text-sm bg-slate-100 rounded-full px-3 pb-1">
                New
            </span>
            <h1 class="text-3xl font-bold mt-2 text-blue-950">Apple AirPods</h1>
            <span
                class="bg-gradient-to-r from-blue-600 to-blue-400 text-white font-semibold py-1 px-3 rounded-lg inline-block mt-4"
            >
                3rd Generation
            </span>
            <div class="flex mt-4 text-sm text-gray-600">
                <span class="bg-blue-50 w-3 rounded-full inline-block mr-1"></span>
                <p class="w-3/5">
                    Personalized Spatial Audio with dynamic head tracking places
                    sound all around you
                </p>
            </div>
        </div>
    </div>
    <BannerNavigation/>
</div>


