<div class="bg-white grid grid-rows-2 items-center h-[140px] mt-10">
    <footer class="container max-w-6xl mx-auto pt-16">
        <div class="pt-6">
            <h1 class="text-gray-400 pb-4">
                More ways to shop: <a href="#" class="text-blue-600 font-semibold underline"
                    >Find an Apple Store"</a
                > or <a href="" class="text-blue-600 font-semibold underline">other retailer</a> near you.
                Or call 1-800-MY-APPLE.
            </h1>
        </div>
        <div class="flex border-t-2 border-gray-500 justify-between pt-6">
            <h1 class="text-gray-400">
                Copyright © 2024 Apple Inc. All rights reserved.
            </h1>
            <menu>
                <ul class="space-x-5 text-gray-500">
                    <li class="inline hover:underline">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <span class="text-sm">|</span>
                    <li class="inline hover:underline">
                        <a href="#">Terms of Use</a>
                    </li>
                    <span class="text-sm">|</span>
                    <li class="inline hover:underline">
                        <a href="#">Sales and Refunds</a>
                    </li>
                    <span class="text-sm">|</span>
                    <li class="inline hover:underline"><a href="#">Legal</a></li>
                    <span class="text-sm">|</span>
                    <li class="inline hover:underline"><a href="#">Site Map</a></li>
                </ul>
            </menu>
            <h2 class="text-gray-600">United States</h2>
        </div>
    </footer>
</div>
