<h1 class="text-center text-3xl font-semibold mt-8">
    <span class="text-blue-600"> Newest </span>
    Product
</h1>
<h3 class="text-center text-gray-600">
    Personalized Spatial Audio with dynamic head tracking places sound all
    around you
</h3>
