<div class="mt-12 container max-w-6xl mx-auto grid grid-cols-4 gap-6">
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div class="bg-[url('https://m.media-amazon.com/images/I/61WnTqb1MrL.jpg')] bg-center bg-cover h-48 w-48 mx-auto">
    
        </div>
        <p class="text-blue-600 font-semibold bg-slate-100 text-center py-1 rounded-lg ">
            3rd Generation
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div class="bg-[url('https://tiendasishop.com/media/catalog/product/m/v/mv7n2lz_a_1.jpg')] bg-center bg-cover h-48 w-48 mx-auto">
    
        </div>
        <p class="text-blue-600 font-semibold bg-slate-100 text-center py-1 rounded-lg ">
            AirPods
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div class="bg-[url('https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MME73?wid=2000&hei=2000&fmt=jpeg&qlt=95&.v=1632861342000')] bg-center bg-cover h-48 w-48 mx-auto">
    
        </div>
        <p class="text-blue-600 font-semibold bg-slate-100 text-center py-1 rounded-lg ">
            2nd Generation
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div class="bg-[url('https://tiendasishop.com/media/catalog/product/8/1/81jkkfdbxjl._ac_sl1500_2048x.jpg')] bg-center bg-cover h-48 w-48 mx-auto">
    
        </div>
        <p class="text-blue-600 font-semibold bg-slate-100 text-center py-1 rounded-lg ">
            AirPods Max
        </p>
    </div>
</div>
